<div class="centering agiliste-photo-wrapper">
    <div class="agiliste-photo">
        <img src="{{image_url}}" alt="{{name}}"
             class="agiliste-big"/>


        <div class="agiliste-text-wrapper">
            <img src="{{tampon_url}}" alt="{{name}}"
                 class="agiliste-tampon"/>

            <h2>{{title}}</h2>

            <p>{{text}}</p>
        </div>
    </div>
</div>